server:
  port: ${server_port:8080}
  servlet:
    context-path: /datamaster
    path: /datamaster

spring:
  datasource:
    url: jdbc:postgresql://${db_host:localhost}:5432/polls_db
    username: postgres
    password: postgres
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        format_sql: true
